/* MainPage.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');



.main-content {
    
    background-color: #151922;
    color: white;
  }
.container{
  background-color: #151922;

}
.row{
  background-color: #151922;
}
.card-body{
  background-color: #151922;
}
.card{
  background-color: #151822 !important;
  border-color: white !important;
  border-radius: 3px !important;

}

.lead {
  color: white; /* Adjust to fit your brand color */
}


#content-left{
   margin-bottom: 10%;
  
}
.line{
  color:white;
}

#viewpost-content{
margin-bottom: 10%;
}

.countdown-container {
  margin-top: 20px;
}

.countdown-label {
  font-size: 18px;

}

.countdown-number {
  font-size: 36px;
  font-weight: bold;
  color: #007bff; /* Change color as needed */
  animation: countdownAnimation 1s ease-in-out infinite alternate;
}

@keyframes countdownAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}
